<div id="<%= dom_id pirate %>">
  <p>
    <strong>Nome:</strong>
    <%= pirate.nome %>
  </p>

  <p>
    <strong>Tripulacao:</strong>
    <%= pirate.tripulacao %>
  </p>

  <p>
    <strong>Recompensa:</strong>
    <%= pirate.recompensa %>
  </p>

</div>
