<p style="color: green"><%= notice %></p>

<h1>Pirates</h1>

<!--<table class="table table-striped">
  <thead class="thead-dark">-->

<div id="pirates">
  <% @pirates.each do |pirate| %>
    <%= render pirate %>
    <p>
      <%= link_to "Show this pirate", pirate %>
    </p>
  <% end %>
</div>

<%= link_to "New pirate", new_pirate_path %>
